/* Navbar custom style */

.hover-links:hover {
    color: #f3f4f6;
    text-decoration: underline;
    text-underline-offset: 5px;
}

/* Hero section */

/* Code animation */

.code-animation {
    animation-name: slideAndFade;
    animation-duration: 2;
}

@keyframes slideAndFade {
    0% {
        transform: translateY(0);
        opacity: 0;
    }

    50% {
        opacity: 0.5;
    }

    100% {
        transform: translateY(100px);
        opacity: 1;
    }
}

.hover-button:hover {
    background: #EEF2FF;
}

.hover-button2:hover {
    background: #4b5563;
}

.competence-card:hover {
    border-color: #6b7280;
}

.skill-card:hover {
    box-shadow: 0px 0px 30px rgb(37, 37, 66);
}


/* Process componets */

.progress:hover .progess-point {
    scale: calc(1)
}

/* Contact */

.link-button:hover {

    box-shadow: 0px 0px 30px rgb(37, 37, 66);
}

.project-type:hover {
    border-color: #5e6775;
}